*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../img/Platinaqui.png);
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    font-family: Inter, sans-serif;
    display: center;
    align-items: center;
    text-align: center;
    position:fixed;
    top: 24%;
    left: 32%;
}

main h1{
    margin-top: 10px;
}

h1 {
    color: white;
    font-size: 19px;
    margin-bottom: 20px;
}
p {
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
}
.logo img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}
button {
    background-color: #505050;
    color: white;
    font-size: 18px; font-weight: semi-bold;
    padding: 10px 40px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}
input[type="text"], input[type="email"], input[type="password"] {
    width: 300px;
    padding: 16px;
    margin: 0px 0;
    border: none;
    border-radius: 100px;
    font-family: Inter, sans-serif; font-size: 12px; font-weight: semi-bold;
}
button:hover {
    background-color: #696969;
}
a {
    color: rgba(183, 169, 86, 1);
    text-decoration: none;
}
a :hover {
    cursor: pointer;
}
.botão {
    margin-top: 20px;
    text-align: center;
}
.Login {
    background-color: rgba(25, 24, 24, 1);
    width: 640px;
    height: 360px;
    display: center;
    padding: 5px;
    border: none;
    border-radius: 135px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position:fixed;
}
.Registro {
    background-color: rgba(25, 24, 24, 1);
    width: 640px;
    height: 510px;
    display: center;
    padding: 5px;
    border: none;
    border-radius: 135px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position:fixed;
}

#logo {
    width: 75px;
    display: flex;
  }
  
  .cabecalho{
    display: flex;
    border: solid black;
    background-color: black;
  }

  #logo{
    margin-left: 50px;
    margin-top: 2px;
  }
  
  .logo{
   margin-left: 5px;
  }

  header h1{
    color: rgb(255, 196, 0);
    font-family:"Mantinia";
    font-size: 32px;
    margin-top: 10%;
}

  @font-face{
    font-family: "Mantinia";
    src: url("/CSS/Mantinia\ Regular.otf")}